<h2>Привет, {{user}}</h2>
<p>У {{coach}} новая тренировка!</p>
<p>В дисциплине {{type}}</p>
<br/>
<p>{{title}}</p>
<p>{{description}}</p>
<br/>
<p>На кого рассчитана: {{gender}}, уровень: {{level}}</p>
<p>Длительность: {{duration}}</p>
<p>Энергетические затраты: {{caloriesCount}}</p>
<p>Сколько стоит: {{price}}</p>
